
<app-row style="margin: 20px;" mainAxisAlignment="space-around" crossAxisAlignment="center">
  <app-imagen source="../../../assets/LOGO.svg" width="250px"></app-imagen>
  <app-column crossAxisAlignment="flex-end" mainAxisAlignment="center">
    <p style="margin: 0px;font-weight: bold;color:darkgray">OBESERVATORIO DIGITAL DE FONAFE</p>
    <app-imagen style="margin: 0px;" source="../../../assets/BOTON_DE_INICIO.svg" width="100px" height="25px"></app-imagen>
  </app-column>
</app-row>

<app-row
  mainAxisAlignment="space-around"
  crossAxisAlignment="center"
  backgroundColor="gray"
  minheight="40px"
>
  <app-boton
    label="¿Quienes somos?"
    backgroundColor="transparent"
    border="none"
    textColor="#E1E1E1"
    hoverTextColor="white"
  ></app-boton>
  <app-boton
    label="Nuestro Proposito"
    backgroundColor="transparent"
    border="none"
    textColor="#E1E1E1"
    hoverTextColor="white"
  ></app-boton>
  <app-boton
    label="Memoria Anual"
    backgroundColor="transparent"
    border="none"
    textColor="#E1E1E1"
    hoverTextColor="white"
  ></app-boton>
  <app-boton
    label="Video Manifiesto"
    backgroundColor="transparent"
    border="none"
    textColor="#E1E1E1"
    hoverTextColor="white"
  ></app-boton>
  <app-boton
    label="Sala de Prensa"
    backgroundColor="transparent"
    border="none"
    textColor="#E1E1E1"
    hoverTextColor="white"
  ></app-boton>
</app-row>

<app-stack position="relative">
  <app-container
    background="linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 1))"
    position="absolute"
    zindex="2"
    height="99%"
    width="100%"
  ></app-container>
  <app-imagen source="../../../assets/IMAGEN.svg" zindex="1"></app-imagen>
  <app-container
    color="white"
    position="absolute"
    top="50%"
    left="50%"
    transform="translate(-50%, -50%)"
    zindex="3"
    textAlign="center"
  >
    <h2 style="font-size: 3vw">Bienvenidos al Observatorio Digital de Fonafe</h2>
    <p style="font-size: 1.5vw;" >
      Aquí encontrarás los indicadores financieros de desempeño
    </p>
    <p style="font-size: 1.5vw;margin: 0px" >de la Corporacion y sus empresas.
    </p>
  </app-container>
</app-stack>

<app-grid gap="30px">
  <app-column crossAxisAlignment="center">
    <app-container
      mainAxisAlignment="center"
      textAlign="center"
      boxShadow="0px 5px 20px gray"
      borderRadius="10px"
      background="#E1E1E1"
      height="120px"
      width="120px"
    >
      <app-imagen
        source="https://cdn-icons-png.flaticon.com/128/44/44499.png"
        width="50%"
      ></app-imagen>
    </app-container>
    <p
      style="
        font-size: 100%;
        text-align: center;
        flex-wrap: wrap;
        max-width: 120px;
      "
    >
      Empresas Financieras
    </p>
  </app-column>
  <app-column crossAxisAlignment="center">
    <app-container
      mainAxisAlignment="center"
      textAlign="center"
      boxShadow="0px 5px 20px gray"
      borderRadius="10px"
      background="#E1E1E1"
      height="120px"
      width="120px"
    >
      <app-imagen
        source="https://static.thenounproject.com/png/4808684-200.png"
        width="50%"
      ></app-imagen>
    </app-container>
    <p
      style="
        font-size: 100%;
        text-align: center;
        flex-wrap: wrap;
        max-width: 120px;
      "
    >
      Empresas Financieras
    </p>
  </app-column>
  <app-column crossAxisAlignment="center">
    <app-container
      mainAxisAlignment="center"
      textAlign="center"
      boxShadow="0px 5px 20px gray"
      borderRadius="10px"
      background="#E1E1E1"
      height="120px"
      width="120px"
    >
      <app-imagen
        source="https://i.pinimg.com/originals/43/c0/66/43c066a7b522a1151764d33421306519.png"
        width="50%"
      ></app-imagen>
    </app-container>
    <p
      style="
        font-size: 100%;
        text-align: center;
        flex-wrap: wrap;
        max-width: 120px;
      "
    >
      Empresas Financieras
    </p>
  </app-column>
  <app-column crossAxisAlignment="center">
    <app-container
      mainAxisAlignment="center"
      textAlign="center"
      boxShadow="0px 5px 20px gray"
      borderRadius="10px"
      background="#E1E1E1"
      height="120px"
      width="120px"
    >
      <app-imagen
        source="https://cdn-icons-png.flaticon.com/128/44/44499.png"
        width="50%"
      ></app-imagen>
    </app-container>
    <p
      style="
        font-size: 100%;
        text-align: center;
        flex-wrap: wrap;
        max-width: 120px;
      "
    >
      Empresas Financieras
    </p>
  </app-column>
  <app-column crossAxisAlignment="center">
    <app-container
      mainAxisAlignment="center"
      textAlign="center"
      boxShadow="0px 5px 20px gray"
      borderRadius="10px"
      background="#E1E1E1"
      height="120px"
      width="120px"
    >
      <app-imagen
        source="https://cdn-icons-png.flaticon.com/128/44/44499.png"
        width="50%"
      ></app-imagen>
    </app-container>
    <p
      style="
        font-size: 100%;
        text-align: center;
        flex-wrap: wrap;
        max-width: 120px;
      "
    >
      Empresas Financieras
    </p>
  </app-column>
  <app-column crossAxisAlignment="center">
    <app-container
      mainAxisAlignment="center"
      textAlign="center"
      boxShadow="0px 5px 20px gray"
      borderRadius="10px"
      background="#E1E1E1"
      height="120px"
      width="120px"
    >
      <app-imagen
        source="https://cdn-icons-png.flaticon.com/128/44/44499.png"
        width="50%"
      ></app-imagen>
    </app-container>
    <p
      style="
        font-size: 100%;
        text-align: center;
        flex-wrap: wrap;
        max-width: 120px;
      "
    >
      Empresas Financieras
    </p>
  </app-column>
</app-grid>
